.post-list > li {
    margin-bottom: 0px !important;
}

.footer-col-wrapper {
  font-size: .82em !important;
}

.problem-category {
	font-size: 1.5em; 
}

.arrow {
	font-size: .5em;
	text-decoration: none;
}