---
layout: default
---

<div class="home">

  <ul class="post-list">

    <!-- Time Complexity  -->
    <li> 
        <a href="#time" id="time-link" class="problem-category" data-toggle="collapse">Time Complexity</a>
        <span class="arrow"> &#x25B2; <span>
    </li>
      <ul id="time" class="collapse">  
      {% for post in site.categories.time %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
      {% endfor %}
      </ul>

    <!-- Numbers category  -->
    <li> 
        <a href="#strings" id="numbers-link" class="problem-category" data-toggle="collapse">Strings</a>
        <span class="arrow"> &#x25B2; <span>
    </li>
      <ul id="strings" class="collapse">  
      {% for post in site.categories.strings %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
      {% endfor %}
      </ul>

    <li> 
        <a href="#numbers" id="numbers-link" class="problem-category" data-toggle="collapse">Numbers</a>
        <span class="arrow"> &#x25B2; <span>
    </li>
      <ul id="numbers" class="collapse">  
      {% for post in site.categories.numbers %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
      {% endfor %}
    </ul>

    <!-- search category -->
    <li > 
        <a href="#search" id="search-link" class="problem-category" data-toggle="collapse">Search</a>
        <span class="arrow"> &#x25B2; <span>
    </li>
      <ul id="search" class="collapse">  
      {% for post in site.categories.search %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
      {% endfor %}
      </ul>

  </ul>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
