<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a> </li>
          <li>Medium: 
            <a href="{{ site.medium }}">
                {{ site.medium }} 
            </a>
          </li> 
          <li>LinkedIn: 
              <a href="https://www.linkedin.com/pub/udaiveer-singh/3b/303/b8a">
                linkedin.com/n/udaiveerS
              </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
  
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</footer>
